
.text-body {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4;
    color: $fluid-global-gray-darker;
}

.text-body-bold {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.4;
    color: #333;
}

.text-caption {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #666;
}